.main-slide {
  display: flex;
  /* 20 / 1180 *100 = 1.7 */
  gap: 1.7vw;
}

.main-slide .left {
  /* 770 / 1180 * 100 = 65.254 */
  width: 65.254vw;
  max-width: 770px;
  height: 39.83vw;
  max-height: 470px;
}

.visual-slide {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.visual-slide a {
  width: 100%;
  height: 100%;
}
.visual-slide a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-slide .right {
  max-width: 370px;
  width: 31.35vw;
  max-height: 470px;
  width: 39.83vw;
}
.card-slide {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.card-slide a {
  width: 100%;
  height: 100%;
}
.card-slide a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 가로 너비 대비 세로가 평상시에도 변한다. */
@media screen and (max-width: 1024px) {
  .main-slide {
    display: block;
    gap: 0;
  }

  .main-slide {
    width: 100%;
  }
  .main-slide .left {
    width: 100%;
    max-width: 100%;
    height: 980px;
    max-height: 100%;
  }

  .main-slide .right {
    display: none;
  }
}
